<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TestMode</key>
	<true/>
	<key>DeveloperAppCode</key>
	<string>※ 公開前に発行トークンを記載します</string>
	<key>SDKEdition</key>
	<string>SWAMP</string>
	<key>SDKVersion</key>
	<string>1.3.0</string>
	<key>MaxDesignatableBeaconRegions</key>
	<integer>19</integer>
	<key>RegionUpdateIntervalHours</key>
	<integer>12</integer>
</dict>
</plist>
